body{
    border: 0;
    padding: 0;
    margin: 0;
    background-color: lemonchiffon;
}

#head_Banner{
    width: auto;
    height: 500px;
}

#head_Banner_img{
    width: 100%;
    height: 100% ;
}

